<section class="pt-5 text-center container">
<div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">Book Journal</h1>
    <p class="lead text-body-secondary">
        A portfolio project by <a href="https://github.com/el-wittmer">@el-wittmer</a>
    </p>
    <p>
        <a href="/add" class="btn btn-outline-dark my-2" id="add">Add a book</a>
    </p>
    <p>
        <a href="/newest" class="btn btn-outline-dark my-2" id="newest">Newest First</a>
        <a href="/liked" class="btn btn-outline-dark my-2" id="liked">Liked</a>
        <a href="/owned" class="btn btn-outline-dark my-2" id="liked">My Bookshelf</a>
    </p>
    </div>
</div>
</section>